div {
  height: 150px;
  width: 150px;
  color: white;
}
.div1 {
  position: static;
  background-color: black;
}

.div2 {
  background-color: #383b38;
  position: absolute;
  top: 75px;
  left: 75px;
}

.div3 {
  background-color: black;
  position: absolute;
  top: 150px;
  left: 150px;
}

.div4 {
  background-color: #383b38;
  position: absolute;
  top: 225px;
  left: 225px;
}

.div5 {
  background-color: black;
  position: absolute;
  top: 300px;
  left: 300px;
}
body {
  margin: 0px;
  display: flex;
}
