div {
  background-color: black;
  color: white;
}

.container {
  width: 310px;
  display: flex;
  background-color: white;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}
.div1 {
  width: 150px;
  height: 150px;
}
.div2 {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
.div3 {
  width: 150px;
  height: 150px;
}
