div {
  color: white;
}
* {
  box-sizing: border-box;
}
.container {
  height: 600px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-right: 75px;
}
h6 {
  width: 75px;
}
.text {
  width: 75px;
}
.div1 {
  background-color: #383b38;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div2 {
  background-color: black;
  width: 150px;
  height: 150px;
}
.div3 {
  background-color: black;
  width: 150px;
  height: 150px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid green;
}
