div {
  color: white;
}
* {
  box-sizing: border-box;
}
.div1 {
  background-color: #383b38;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div2 {
  background-color: black;
  width: 150px;
  height: 150px;
  align-self: flex-end;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid green;
}
