div {
  background-color: black;
  width: 150px;
  height: 150px;
  color: white;
}
body {
  margin: 0px;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.div2 {
  align-self: center;
}
.div1 {
  align-self: flex-end;
}
