div {
  color: white;
}
* {
  box-sizing: border-box;
}

h6 {
  width: 75px;
}
.text {
  width: 75px;
}
.div1 {
  background-color: #383b38;
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.div2 {
  background-color: black;
  width: 200px;
  height: 250px;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 10px;
  padding-bottom: 10px;
}
.div3 {
  align-self: flex-end;
  background-color: grey;
  width: 150px;
  height: 150px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid green;
}
