* {
  box-sizing: border-box;
}
div {
  color: white;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.div1 {
  height: 500px;
  width: 250px;
  background-color: #383b38;
}
.div2 {
  height: 250px;
  width: 200px;
  position: absolute;
  background-color: black;
  left: 150px;
  top: 250px;
}

.div3 {
  height: 150px;
  width: 150px;
  background-color: grey;
  position: absolute;
  left: 100px;
  top: 420px;
}
