* {
  box-sizing: border-box;
}
div {
  color: white;
}
.container1 {
  display: flex;
  justify-content: flex-start;
}
.container2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 300px;
  bottom: 50px;
  position: relative;
}
.div1 {
  height: 300px;
  width: 300px;
  background-color: #383b38;
  margin-right: 200px;
}
.div2 {
  height: 150px;
  width: 150px;
  background-color: black;
}

.div3 {
  height: 150px;
  width: 150px;
  background-color: black;
}

.div4 {
  height: 300px;
  width: 300px;
  background-color: #383b38;
  margin-left: 200px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding-right: 400px;
}
