div {
  background-color: black;
  width: 150px;
  height: 150px;
  color: white;
}
body {
  margin: 0px 0px 50px 0px;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}
.div2 {
  align-self: center;
}
.div3 {
  align-self: flex-end;
}
