* {
  box-sizing: border-box;
}
div {
  color: white;
  height: 150px;
  width: 150px;
}
.div1 {
  background-color: black;
}
.div2 {
  background-color: #383b38;
  position: absolute;
  top: 75px;
  left: 75px;
}
body {
  margin: 0px;
  display: flex;
}
