div {
  color: white;
}
* {
  box-sizing: border-box;
}
.div1 {
  background-color: #383b38;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.div2 {
  background-color: black;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 54px;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
